/* for the about page */
* {
  font-family: calabri, sans-serif
}

.intro {
  position: relative;
  margin: 0 auto;
}

#content {
  position: absolute;
  bottom: 35%;
  right: 5%;
  background: rgba(105, 195, 223, 0.8);
  color: rgb(0, 0, 0);
  padding: 20px;
}

.title {
  padding: 45px;
  background-color: rgb(83, 160, 231);
  text-align: center;
}

p.describe {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: large;
}

article, .group h1, .group figure, #contact, .profile {
  text-align: center;
}

dl {
  border: 15px solid #548ecf;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

dt dd{
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

#contact {
  margin-right: 1%;
}

table.about, th, td {
  border: 1px solid black;
  border-spacing: 2px;
}

.time {
  background-color: #9ce5f7;
}

.day {
  background-color: #F7C15D;
}

/* Dan changed table's background color to hexadecimal value 16/04*/
td.c04 {
  background-color: #39A798;
}

td.c09 {
  background-color: #8CB0FC;
}

td.c25 {
  background-color: #E634CE; 
}

td.c26 {
  background-color: #C5B451;
}

.profile {
  position: relative;
  color: black;
}

table.pfp {
  border: none;
}

.button {
  border: 4px solid #467fc0;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  color: black;
  cursor: pointer;
  transition-duration: 0.8s;
}

.button1:hover {
  background-color: #467fc0;
  color: white;
}

#swin {
  height: 20%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
        /* adding the picture motion effect */
        #conatiner{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          background-color: rgb(254, 254, 254);
          gap: 0.9em;
          margin: 10px;
          padding: 5px;
          border: 2px solid rgb(248, 244, 243);
          text-align: center;

      }
      #section01 , #section02 ,#section03 ,#section04 ,#section05{
      background-color: rgb(242, 242, 255);
      }

      .profiledp01{
          margin: 10px;
          height: 267px;
          width: 200px ;
          aspect-ratio:4/3;

      }
      section {
          width: 50%;
          height: 50%;
          margin: 0.5em;

      }
      section:hover{
          width: 100%;
          height: 100%;
          margin: 0.3em;
      }

      .profiledp01:hover{
          width: 200px;
           /* picture motion  */
      }
      /*  job apply cards CSs  */
      #cardgrid01{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        margin: 2em;

    }


    .cards{
        background-color: white;
        padding: 1rem;
        /* border: 1px solid #777; */
        border-radius: .40rem;
        box-shadow: 2px 3px 10px hsl(216, 15%, 13%);
        overflow: hidden;



    }
    .cardheader{
        font-size: 1.5rem;
        margin-bottom: .5rem;
        text-align: center;
        padding-top: 1.25rem;

    }
    .cardheader.card-image{
        overflow: hidden;

    }
    .cardheader.card-image > img{
        display: block;
        width: 100%;
        aspect-ratio: 10/5;
        object-fit: cover;
        object-position: center;
        border-radius: .30rem;
        transition: 200ms transform ease-in-out ;

    }
    .cards:hover > .cardheader.card-image > img{
        transform: scale(1.025);

    }

    .cardbody{
        font-size: 1.5rem;
        margin-bottom: .5rem;

    }
    .cardfooter{
        margin-top: 1rem ;
    }
    /* --color: hsl(200, 50% , 50%) ; as var(--color) */
    .btn{
        --color: hsl(196, 75%, 45%) ;
        background-color: var(--color);
        color: azure;
        border: none;
        font-size: 1rem;
        padding: .5rem .75rem;
        border: none;
        border-radius: .9rem;
        /* cursor: pointer; to get a cursor when you go the following  */
        cursor: pointer;
    }

    .btn a {
      text-decoration: none;
      color: azure;
    }

    .btn:hover{
        background-color: hsl(200, 50% , 80%);
        color: blue;
    }











/* for header  */
.NavgationBar ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #4267B2;

}

.NavgationBar li {
  float: left;
}

.NavgationBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.NavgationBar li a:hover {
  background-color: #898F9C;
}

.BodyContent {
  background-color: #D3D3D3;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 5%;
  padding-bottom: 1%;
  padding-right: 5%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
  text-align: left;
  padding: 1%;
  background-color: #4267B2;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}
/* header ended  */

/* Footer  */

footer a {
  color: white;
}

footer a:hover{
  color: #898F9C;
}

#footerlinks {
  font-size: 80%;
  text-decoration: none;
}

#footernavigation {
  word-spacing: 50px;
}

table {
  border-spacing: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Dan put these footer's rules from about.css */
.follow {
  bottom: -20px;
  text-align: right;
  text-decoration: none;
}

.follow a {
  text-decoration: none;
}


.IndexBanner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  display: block;
}

#HiringBanner {
  width: 100%;
}

#HiringBanner td {
  width: 100%;
  background-color: orangered;
  color: white;
  padding: 2%;
}

#HiringBanner h2, p{
  margin: 0;
}

#HiringBanner a{
  text-decoration: underline;
  color: white;
}
